<!-- footer START -->
<p style="text-align:center" >Copyright © All Rights Reserved By 
	<b><a rel="nofollow" href="">vincent</a></b>
</p>
<div style="margin-bottom:5px;">
<div class="logos_3rd">
    <a rel="nofollow" href="http://python.org/" title="Designed with Python">
        <img src="/static/img/python.png" alt="[ Designed with python ]" >
    </a>
    <a rel="nofollow" href="https://www.djangoproject.com/" title="Designed with Tornado">
        <img src="/static/img/tornado.png" alt="[ Designed with tornado ]" >
    </a>
    <a rel="nofollow" href="http://www.bootcss.com/" title="Designed with Bootstrap">
        <img src="/static/img/bootstrap.png" alt="[ Designed with Bootstrap ]" >
    </a>
    <a rel="nofollow" href="http://www.mysql.com/" title="Designed with MySQL">
        <img src="/static/img/mysql.png" alt="[ Designed with MySQL ]" >
    </a>
    <a rel="nofollow" href="http://ckeditor.com/" title="Designed with CKEditor">
        <img src="/static/img/ckeditor.png" alt="[ Designed with CKEditor ]" >
    </a>
</div>

</div>

<!-- footer END -->