<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">首页</a>
			<div class="nav-collapse collapse" id="main-menu">
				<ul class="nav" id="main-menu-left">
					{% for nav in navlist %}
						{% if nav.parent == 0 %}
							<li class="dropdown">
							{% if nav.have_child %}
								<a class="dropdown-toggle" data-toggle="dropdown" href="/post/page/{{ nav.nid }}">{{ nav.name }}<b class="caret"></b></a>
								<ul class="dropdown-menu">
								{% for sub in navlist %}
									{% if sub.parent == nav.nid %}
										<li><a href="/post/page/{{ sub.nid }}">{{ sub.name }}</a></li>
									{% end %}
								{% end %}
								</ul>
							{% else %}
								<a href="/post/page/{{ nav.nid }}">{{ nav.name }}</a>
							{% end %}
							</li>
						{% end %}
					{% end %}
				</ul>
				<ul class="nav pull-right" id="main-menu-right">
					<li>
					    <a rel="tooltip" href="/admin/login" title="">{% if user %}Admin{% else %}Login{% end %}<i class="icon-share-alt"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>