{% extends "base.html" %}

{% block content-nav %}
	<ul class="breadcrumb">
		<li>
			<a href="/admin/home">Home</a> <span class="divider">/</span>
		</li>
		<li>
			<a href="/admin/post/add">Publish</a>
		</li>
		<li class="pull-right">
			<i class="icon-arrow-left"></i>
			<a href="/admin/category/list">Return to category list</a>
		</li>
	</ul>
{% end %}

{% block content-header %}
	<div class="box-header " data-original-title>
		
	</div>
{% end %}

{% block content-body %}
	<div class="box-content">
	<form action="/admin/category/edit/{{ current.id }}" class="form-horizontal" method="post">
	{% module xsrf_form_html() %}
	{% autoescape None %}
	  <fieldset>
		<legend>Edit this page</legend>

		<div class="control-group error">
		  {{ form.name.label(class_="control-label") }}
		  <div class="controls">
			{{ form.name(class_="span6 typeahead") }}
			{% if form.name.errors %}
			<span class="help-inline">{% for error in form.name.errors %}{{ error }}{% end %}</span>
			{% end %}
		  </div>
		</div>
		<div class="control-group">
		  {{ form.parent.label(class_="control-label") }}
		  <div class="controls">
		  	 {{ form.parent() }}
		  </div>
		</div>       
		<div class="control-group">
		  {{ form.description.label(class_="control-label") }}
		  <div class="controls">
			{{ form.description(class_="span6 typeahead") }}
		  </div>
		</div>
		<div class="form-actions control-group">
			<div class="controls">
		  <button type="reset" class="btn">Cancel</button>
		  <button type="submit" class="btn btn-primary">Save changes</button>
		  </div>
		</div>
	  </fieldset>
	</form>
	</div>
{% end %}