{% extends "base.html" %}

{% block content-nav %}
	<ul class="breadcrumb">
		<li>
			<a href="/admin/home">Home</a> <span class="divider">/</span>
		</li>
	</ul>
{% end %}

{% block content-header %}
	<div class="box-header " data-original-title>
		
	</div>
{% end %}

{% block content-body %}
	<div class="box-content">
		<ul>
			<li>
				<a type="button" class="" href="/admin/post/add">New Post</a>
			</li>
			<li>
				<a type="button" class="" href="/filemanager">File Manager</a>
			</li>
		</ul>
	</div>
{% end %}