{% extends "base.html" %}

{% block other-css %}
<link href="/static/ckeditor/contents.css" rel="stylesheet">
{% end %}

{% block content-nav %}
	<ul class="breadcrumb">
		<li>
			<a href="/admin/home">Home</a> <span class="divider">/</span>
		</li>
		<li>
			<a href="/admin/post/list">Post list</a>
		</li>
		<li class="pull-right">
            <i class="icon-arrow-left"></i>
            <a href="/admin/home">Return to Home</a>
        </li>
	</ul>
{% end %}

{% block content-header %}
	<div class="box-header " data-original-title>
		
	</div>
{% end %}

{% block content-body %}
	<div class="box-content">
	<form class="form-horizontal" method="post">
	{% module xsrf_form_html() %}
	{% autoescape None %}
		<div class="row-fluid sortable">
			<div class="span9">
			  	<div>
				{{ form.title(class_="span6 typeahead", placeholder="Title") }}
				{% if form.title.errors %}
				<span class="help-inline">{% for error in form.title.errors %}{{ error }}{% end %}</span>
				{% end %}
			  	</div>
				<div>
					{{ form.content(class_="ckeditor") }}
				</div>
			</div>
			<div class="span3">
				<div class="row-fluid">
				<p class="center"><button type="submit" class="btn btn-primary">Publish</button></p>
				</div>
				<div class="row-fluid">
				  <ul class="nav nav-list">
					<li class="nav-header">Category</li>
					<input value="{{ setting['default_category'] }}" type="hidden" name="post_category[]">
					<div id="categorylist">
						<!-- ajax will load content -->
					</div>
					<li>
					    <div class="input-append">
					    <input type="text" value="" placeholder="Add new Category" name="new_category" id="new_category" class="input-medium">
						<a class="btn" id="category_quickadd">New</a>
					    </div>
					</li>
				  </ul>
			  </div>
			  <hr />
			  <div class="row-fluid">
                  <ul class="nav nav-list">
                    <li class="nav-header">Tag</li>
                    <li>
                        <div>
                        <input type="text" value="" placeholder="please input tags" name="new_tags" class="input-medium">
                        Please split tags with ','
                        </div>
                    </li>
                  </ul>
              </div>
              <hr />
			  <div class="row-fluid">
                  <ul class="nav nav-list">
                    <li class="nav-header">Date</li>
                    <li>
                        <div>
                        {{ form.date(id="datepicker", class_="input-medium") }}
                        {% if form.date.errors %}
							<span class="help-inline">{% for error in form.date.errors %}{{ error }}{% end %}</span>
						{% end %}
                        </div>
                    </li>
                  </ul>
              </div>
              <hr />
              <div class="row-fluid">
                  <ul class="nav nav-list">
                    <li class="nav-header">Parent Page</li>
                    <li>
                        <div>
                        {{ form.parent() }}
                        </div>
                    </li>
                  </ul>
              </div>
		  	</div>
		</div>
	</form>
	</div>
{% end %}

{% block other-javascript %}
<script src="/static/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
        updateCategoryList();
    });
    $(function() {
		$( "#datepicker" ).datepicker({
			showOtherMonths: true,
			selectOtherMonths: true,
			changeMonth: true,
			changeYear: true,
			dateFormat: 'yy-mm-dd'
		});
	});
</script>
{% end %}